div.play-set.h100p(ng-if='set')
  table.h100p
    tr
      td.p5
        a.btn.btn-primary(daw-play-button='', playable='playable')
      td.p5
        .smaller {{ set.name }}
        //div.smaller {{ set.type }}
