.vu-meter {
  position: absolute;
  bottom: 0px;
  left: 5px;
  border: 1px #333 solid;
  background: #000;
}
.vu-meter-canvas {
  width: 32px;
  height: 120px;

}

.btn-solo {
  background: #777;
  color: #333;
  border-color: #777;
}

.btn-solo.active {
  background: #ffff00;
  border-color: #ffff00;
  color: #000;
}

.panner {
  width: 140px;
  white-space: nowrap;
}

.panner > .col1,
.panner > .col3 {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 26px !important;
}

.panner > .col2 {
  width: 80px;
  display: inline-block;
}

.panner .btn.active {
  background: #ff9900;
  border-color: #ff9900;
  color: #000;
}


.panner-fader {
  position: relative;
  top: 5px;
}

.play-clip {
  position: relative;
  height: 100%;
}

.play-clip > .clip-border {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #777;
  border: 1px #999 solid;
  white-space: nowrap;
  border-radius: 6px;
  padding: 5px;
  overflow: hidden;
}

.fader.ui-slider.vertical {
  width: 50px;
  height: 120px;
  margin: 10px auto 0px auto;
}

.fader.vertical.ui-slider > .ui-slider-handle {
  width: 60px;
  height: 20px;
  left: -5px;
  /*margin-bottom: 10px;*/
}

.clip-border > table {
  background: transparent !important;
  margin-top: 5px;
}