.track-mixer
  div(daw-track-controls='', track='track')
  div(daw-panner='', panner='track.panner')
  .relative
    .center(daw-fader='', track='track', node='track.nodes.volume')
    .vu-meter(daw-vu-meter='', node='track.nodes.volume', enabled='track.output')
    .track-link
      a.btn.btn-xs.btn-default(ng-click='daw.linkTrack(track)', ng-class='{ active: track.linked }')
        i.ui-icon.ui-icon-link
  strong {{ track.name }}
