div.btn-group.btn-group-sm
  label.btn.btn-solo(ng-click='track.soloToggle()', ng-class='{ active: track.solo }')
    i.glyphicon.glyphicon-headphones
  label.btn.btn-default(ng-click='track.muteToggle()', ng-class='{ active: track.mute }')
    i.glyphicon.glyphicon-volume-off